<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Update Pet</h1>
    <form method="POST" enctype="multipart/form-data" action="{% url 'update_pet' pet.id %}">
        {% csrf_token %}
        <label for="pet_name">Pet Name:</label>
        <input type="text" id="pet_name" name="pet_name" value="{{ pet.pet_name }}"><br><br>

        <label for="pet_images">Pet Image:</label>
        <img src="{{ pet.pet_images.url }}" alt="{{ pet.pet_name }}" width="200"><br><br>
        
        <input type="file" id="pet_images" name="pet_images"><br><br>
        <button type="submit">Update Pet</button>

    </form>

</body>
</html>